{% extends 'base.html' %} {% load static %} {% block content %}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="col-left">
				<div class="login-text">
					<img
						height="150px"
						width="150px"
						src="{% static 'logo.png' %}"
						alt=""
					/>

					<h3 style="margin-top: 25px">School Management System Project</h3>
					<ul>

						<li>
							<b>Admin</b>
							<ul style="list-style-type: none;">
								<li>
									Username : admin ,
								</li>
								<li>
									Password : admin 
								</li>
							</ul>
						</li>
						<li>
							<b>Teacher</b>
							<ul style="list-style-type: none;">
								<li>
									Username : teacher001 ,
								</li>
								<li>
									Password : teacher001 
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-right">
				<div class="login-form">
					<h2>Login</h2>
					<form action="{% url 'doLogin' %}" method="POST">
						{% csrf_token %}
						<p>
							<input type="text" name="email" placeholder="Coaching-ID / Username" required />
						</p>
						<p>
							<input type="password" name="password" placeholder="Password" required />
						</p>
						<p>
							<input class="btn" type="submit" value="Sing In" />
						</p>
						<p>
							<a href="fahimaloy@gmail.com">Contact Us</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
