{% extends 'accountant_template/base_template.html' %}

{% block page_title %}
    Accountant Home
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            {% comment %} Boxes Section Starts {% endcomment %}
            <!-- <div class="row">
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ students_count }}</h3>

                        <p>Students Under Me</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ attendance_count }}</h3>

                        <p>Total Attendance Taken</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ leave_count }}</h3>

                        <p>Total Leave Taken</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-6">
                    
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ subject_count }}</h3>

                        <p>Total Subjects</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                </div>
            {% comment %} Boxes Section Ends {% endcomment %}

                    
                    </div>
                    
                </div>
            </div>
 -->
        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}
    <script>
   
    </script>
  {% endblock custom_js %}