{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Edit teacher | Username: {{ teacher.admin.username }} | #ID : {{ teacher.admin.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit teacher</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_teacher_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" value="{{ teacher.admin.email }}">
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" value="{{ teacher.admin.username }}">
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" />
                            </div>

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{{ teacher.admin.first_name }}">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{{ teacher.admin.last_name }}">
                                <input type="hidden" name="teacher_id" value="{{ teacher.admin.id }}" />
                            </div>

                            
                            <div class="form-group">
                                <label>Gender</label>
                                <select name="gender" id="gender" value="{{teacher.gender}}" class="form-control">
                                    <option value="0" > Male </option>
                                    <option value="1" > Female </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Current Educational Institute<sub class="text-muted">If not available for you, type "None"</sub></label>
                                <input type="text" class="form-control" value="{{teacher.currentInstitute}}" name="currentInstitute" placeholder="Current Educational Institute">
                            </div>

                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" value="{{teacher.mobileNumber}}" name="mobileNumber" placeholder="Mobile Number">
                            </div>


                            <div class="form-group">
                                <label>Emergency Mobile Number</label>
                                <input type="text" class="form-control" value="{{teacher.emergencyMobileNumber}}" name="emergencyMobileNumber" placeholder="Emergency Mobile Number">
                            </div>
                            
                            
                            <div class="form-group">
                                <label>NID Number</label>
                                <input type="text" class="form-control" value="{{teacher.nid}}" name="nid" placeholder="NID Number">
                            </div>
                            
                            <div class="form-group">
                                <label>Marital Status</label>
                                <input type="text" class="form-control" value="{{teacher.mstatus}}" name="mstatus" placeholder="Marital Status">
                            </div>
            
                            
                            <div class="form-group">
                                <label>Date Of Birth</label>
                                <input type="date" class="form-control" value="{{birthDate}}" name="dateOfBirth" placeholder="Date of Birth">
                            </div>


                            <div class="form-group">
                                <label>SSC Result</label>
                                <input type="text" class="form-control" value="{{teacher.sscGroup}}" name="sscGroup" placeholder="SSC Group">
                                <input type="text" class="form-control" name="sscBoard" value="{{teacher.sscBoard}}" placeholder="SSC Board">
                                <input type="number" class="form-control" name="sscPassingYear" value="{{teacher.sscPassingYear}}" placeholder="Passing Year">
                                <input type="number" step="0.01" class="form-control" name="sscGPA" value="{{teacher.sscGPA}}" placeholder="SSC GPA">

                            </div>
                            <div class="form-group">
                                <label>HSC Result</label>
                                <input type="text" class="form-control" name="hscGroup" value="{{teacher.hscGroup}}" placeholder="HSC Group">
                                <input type="text" class="form-control" name="hscBoard" value="{{teacher.hscBoard}}" placeholder="HSC Board">
                                <input type="number" class="form-control" name="hscPassingYear" value="{{teacher.hscPassingYear}}" placeholder="Passing Year">
                                <input type="number" step="0.01" class="form-control" name="hscGPA" value="{{teacher.hscGPA}}" placeholder="HSC GPA">

                            </div><div class="form-group">
                                <label>B.A/B.Com/B.Sc Result<sub class="text-muted">*If not available for you, type "None"</sub></label>
                                <input type="text" class="form-control" name="baSubject" value="{{teacher.baSubject}}" placeholder="B.A / B.Com / B.Sc Subject">
                                <input type="text" class="form-control" name="baUniversity" value="{{teacher.baUniversity}}" placeholder="B.A / B.Com / B.Sc University">
                                <input type="number" class="form-control" name="baPassingYear" value="{{teacher.baPassingYear}}" placeholder="Passing Year">
                                <input type="number" step="0.01" class="form-control" name="baCGPA" value="{{teacher.baCGPA}}" placeholder="B.A / B.Com / B.Sc CGPA">

                            </div>
                            <div class="form-group">
                                <label>Parmanent Address</label>
                                <textarea name="parmanentAddress" class="form-control" placeholder="Parmanent Address">{{teacher.parmanentAddress}}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Present Address</label>
                                <textarea name="presentAddress" class="form-control" placeholder="Present Address">{{teacher.presentAddress}}</textarea>
                            </div>

                            <div class="form-group">
                                <label>Experience<sub class="text-muted">*If not available for you, type "None"</sub></label>
                                <textarea name="experience" class="form-control" placeholder="Experience: Institute , From - To , Position">{{teacher.experience}}</textarea>
                            </div>


                            


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update teacher</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}