{% extends 'admin_template/base_template.html' %} {% block page_title %} 
Expenses Details 
{% endblock page_title %} {% block main_content %} {% load static %}

<section class="content">
  <div class="container-fluid">
                            {% if messages %}
                              <div class="form-group">
                              <div class="col-12">
                                  {% for message in messages %}
                                  {% if message.tags == "error" %}
                                      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                      {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      </div>
                                  {% elif message.tags == "success" %}
                                      <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                      {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                      </div>
                                  {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                          {% endif %}
    <div class="row">
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 class="h3-hide">৳ {{ totalpaidlist }}</h3>
                <h3 class="h3-show" id="totalpaidlist"></h3>

                <p>Total Paid To Teachers</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                 
                  <h3 class="h3-hide">৳ {{ totalobtainedlist }}</h3>
                  <h3 class="h3-show" id="totalobtainedlist"></h3>
                  
                  
                  
                <p>Total Obtained From Students</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> 
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 class="h3-hide">৳ {{ totalAElist }}</h3>
                <h3 class="h3-show" id="totalAElist"></h3>

                <p>Total Additional Expenses</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 class="h3-hide">৳ {{ totalexpenses }}</h3>
                <h3 class="h3-show" id="totalexpenses"></h3>

                <p>Total Expenses</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3 class="h3-hide" >৳ {{ totalprofit }}</h3>
                <h3 class="h3-show" id="totalprofit"></h3>

                <p>Total Profit</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
             <!--small box -->
            <div class="small-box bg-dark">
              <div class="inner">
                <h3 class="h3-hide" >৳ {{ totalDueAmount }}</h3>
                <h3 class="h3-show" id="totalDueAmount"></h3>

                <p>Total Payable Amounts</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
             <!--small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 class="h3-hide" >৳ {{ totalRamount }}</h3>
                <h3 class="h3-show" id="totalRamount"></h3>

                <p>Total Recieveable Amounts</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-6 table-show">
            <div class="small-box bg-success">
              <div class="inner">
                <h3 class="" id="totalRecievedAmount"></h3>

                <p>Total Recieved Amounts</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> -->

          
        
    </div>
    
    <div class="row first-one">
        
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Expenses Details</h3>
            </div>


            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Start Date <span class="badge badge-primary" id="bttnToday">Today</span>
                            </label>
                            <input type="date" id="inputVal" class="form-control" name="start_date" />
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>End Date<span class="badge badge-primary" id="bttn2Today">Today</span>
                            </label>
                            <input type="date" id="inputVal2" class="form-control" name="end_date" />
                        </div>
                    </div>

                </div>
                
            </div><!-- card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-primary ml-1 " id="fetch_details">Fetch Details</button>
                            <button type="button" class="btn btn-primary reply_open_modal" data-toggle="modal" data-target="#replyModal" id="add_payment">Add Additional Expense</button>
                        </div>
                    </div>
                </div>
            <div class="card-body">
                
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table id="datatable" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <td colspan="4" class="bg-danger" style="text-align: center;">

                                            Payments Paid to the Teachers (Expenses)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Teacher</th>
                                        <th>Paid Upto</th>
                                        <th>Payment Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hide">
                                    {% for pt in paymentTeacher %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{pt.teacher_id.admin.first_name}} {{pt.teacher_id.admin.last_name}}</td>
                                        <td>{{pt.payment_upto}}</td>
                                        <td>{{pt.payment_amount}} ৳</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tbody class="table-show" id="table-show-1">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table id="datatable1" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <td colspan="6" class="bg-primary" style="text-align: center;">

                                           

                                               Payments Obtained from Students (Earnings)
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student</th>
                                        <th>Payment of</th>
                                        <th>Fees</th>
                                        <th>Additional Fees [Amount]</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody  class="table-hide">
                                    {% for ps in paymentStudent %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ps.student_id.admin.first_name}} {{ps.student_id.admin.last_name}}</td>
                                        <td>{{ps.fees_title}}</td>
                                        <td>{{ps.amount}} ৳</td>
                                        <td>{{ps.extra_fees_title}} [ {{ps.extra_amount}} ] </td>
                                        <td>
                                            <a class="btn btn-danger"  href="{% url 'delete_payment' ps.id %}">Delete</a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tbody class="table-show" id="table-show-2">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive my-5">
                            <table id="datatable2" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <td colspan="5" class="bg-danger" style="text-align: center;">

                                            Additional Expense (Expenses)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table-hide">
                                    {% for ae in additionalExpenses %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ae.title}}</td>
                                        <td>{{ae.date}}</td>
                                        <td>{{ae.amount}} ৳</td>
                                        <td><a class="btn btn-danger" href="{% url 'delete_expenses' ae.id %}">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tbody class="table-show" id="table-show-3">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 table-show">
                        <div class="table-responsive my-5">
                            <table id="datatable3" class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <td colspan="8" class="bg-info" style="text-align: center;">

                                            Total Amount Recieved
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Student</th>
                                        <th>Paid At</th>
                                        <th>Payment of</th>
                                        <th>Fees</th>
                                        <th>Additional</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                
                                <tbody id="table-show-4">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>

            </div>
            


        </div><!-- card -->
      </div><!-- col-md-12 -->
    </div> <!-- row first-one -->
  </div><!-- /.container-fluid -->
</section>
{% comment %} Modal to Reply Feedback {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Title : </p>
                <input type="text" class="form-control" id="expenseTitle" name="expenseTitle" />
                <p>Date : </p>
                <input type="date" class="form-control" id="expenseDate" name="expenseDate" />
                <p>Expense Amount : </p>
                <input type="number" class="form-control" id="expenseAmount" name="expenseAmount" />
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {%endcomment %}
                <button type="button" class="btn btn-primary btn-block" id="reply_button"><i class="nav-icon fas fa-plus"></i> Add</button>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %} {% block custom_js %}

<script>
  $(document).ready(function () {
    $('#datatable').DataTable({
            "searching": false
        });
        $('#datatable1').DataTable({
            "searching": false
        });
        $('#datatable2').DataTable({
            "searching": false
        });
        $('#datatable3').DataTable({
            "searching": false
        });
    $(document).on("click", "#reply_button", function(){
                //Disabling the Button while data is being saved in Server
                $(this).attr("disabled", "disabled")
                $(this).text("Saving ...")

                //console.log("SAVE")
                

                var expenseTitle=$("#expenseTitle").val();
                var expenseDate=$("#expenseDate").val();
                var expenseAmount=$("#expenseAmount").val();
                //console.log(student_data);

                // Saving Attendance Data into Database

                $.ajax({
                    url:"{% url 'add_expenses' %}",
                    type:'POST',
                    data:{ expenseAmount:expenseAmount , expenseDate:expenseDate , expenseTitle:expenseTitle},
                })

                
                .done(function(response){
                    
                    if(response=="True")
                    {
                        alert("Expense Saved!")
                    }
                    else
                    {
                        alert("Failed to Save Expense!")
                    }
                    location.reload()
                    
                    //console.log(response)
                })

                .fail(function(){
                    alert("Error in Saving Expense!.")
                })

            })

            $(".table-show").hide();
            
            $(".h3-show").hide();
            $("#fetch_details").click(function(){
                
                let start_date = $("#inputVal").val()
                let end_date = $("#inputVal2").val()
                
                
                let output="";
                let output2="";
                let output3="";
                let output4 = "";

                $.ajax({
                    url:"{% url 'get_expenses' %}",
                    type:'POST',
                    data:{start_date:start_date , end_date:end_date},
                    dataType: "json",

                    success: function(data){
                        $(".table-show").show();
                        $(".table-hide").hide();
                        $(".h3-hide").hide();
                        $(".h3-show").show();
                       console.log(data); 
                        
                        if(data.status === 200 ){
                            
                            let paymentTeacherList = data.teacher_payments_data;
                            // let ptList = data.ptList;
                            // let stList = data.stList;
                            let paymentStudentList = data.student_payments_data;
                            let expensesList = data.total_additional_expenses;
                            // // let totalpaidlist = data.totalpaidlist;
                            // let totalRecievedAmount = data.totalRecievedAmount;
                            let total_recieved_list = data.total_recieved_payments_data;
                            // let paid_st_list = data.paid_st_list;
                            console.log(paymentTeacherList);

                                for(i=0;i<paymentTeacherList.length; i++){
                                        output += "<tr><td>"+ parseInt(i+1) +"</td><td>"+paymentTeacherList[i].teacher_id.admin.first_name+" "+paymentTeacherList[i].teacher_id.admin.last_name+"</td><td>"+paymentTeacherList[i].payment_upto+"</td><td>"+paymentTeacherList[i].payment_amount+" ৳</td></tr>";
                                    }

                                for (i=0;i<paymentStudentList.length;i++){
                                    output2 += "<tr><td>"+ parseInt(i+1) +"</td><td>"+paymentStudentList[i].student_id.admin.first_name+" "+paymentStudentList[i].student_id.admin.last_name+"</td><td>"+paymentStudentList[i].fees_title+"</td><td>"+paymentStudentList[i].amount+" ৳</td><td>"+paymentStudentList[i].extra_fees_title+"["+paymentStudentList[i].extra_amount+"]</td></tr>";
                                }

                                for(i=0;i<expensesList.length;i++){
                                    output3 += "<tr><td>"+ parseInt(i+1) +"</td><td>"+expensesList[i].title+"</td><td>"+expensesList[i].date+"</td><td>"+expensesList[i].amount+" ৳</td></tr>";
                                }
                                for(i=0;i<total_recieved_list.length;i++){
                                    output4 += "<tr><td>"+ parseInt(i+1) +"</td><td>"+total_recieved_list[i].student_id.admin.first_name+" "+total_recieved_list[i].student_id.admin.last_name+"</td><td>"+total_recieved_list[i].fees_title+"</td><td>"+total_recieved_list[i].paid_at+"</td><td>"+total_recieved_list[i].amount+" ৳</td></tr>";
                                    
                                }
                        }
                            
                            
                            $("#table-show-1").html(output);
                            $("#table-show-2").html(output2);
                            $("#table-show-3").html(output3);
                            $('#table-show-4').html(output4);
                            $('#totalpaidlist').html(data.paid_amount);
                            $('#totalobtainedlist').html(data.recieved_amount);
                            $('#totalAElist').html(data.additional_expenses_amount);
                            $('#totalexpenses').html(data.total_expenses);
                            $('#totalprofit').html(data.profit_amount);
                            $('#totalDueAmount').html(data.unpaid_amount);
                            $('#totalRamount').html(data.recievable_amount);
                            // $('#totalRecievedAmount').html(data.totalRecievedAmount);
                            
                            

                            
                            // console.log(data.paymentTeacherList);
                            


                        },
                        

                    
                
                });

                    
                    
                

            });
    
  });
</script>

{% endblock custom_js %}
