{% extends 'admin_template/base_template.html' %} {% load static %} {% block custom_css %}
<!-- <script src="https://unpkg.com/vue@3"></script>   -->
<!-- <script src="https://unpkg.com/vue-router@4"></script> -->
<script src="{% static 'customJS/vueGlobal.js' %}"></script>
<script src="{% static 'customJS/vueRouter.js' %}"></script>
{% endblock custom_css %} {% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Online Class</h3>
          </div>

          <div class="card-body" id="app">
            <div class="table-responsive">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead dark">
                    <th v-for="thead in theads">
                      [[thead]]
                    </th>
                  </thead>
                  <tbody>
                    <tr v-for="online_class in online_classes" key="online_class.id">
                      <td>[[online_class.id]]</td>
                      <td>[[online_class.online_class_name]]</td>
                      <td>[[online_class.batch_id.class_id.class_name]]( [[online_class.batch_id.batch_name]] )</td>
                      <td>[[online_class.online_class_link]]</td>
                      <td>
                        <button class='btn btn-warning' v-if="online_class.status">Ongoing</button>
                        <button v-else class="btn btn-danger">Offline</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}
{% block custom_js %}

<script>

  const app = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        online_classes: [],
        theads: ['SN', 'Name', 'Class(Batch)', 'Link','Status']
      };
    },
    mounted() {
      let self = this;
      $.ajax({
        url: "{% url 'get_admin_view_online_class' %}",
        type: "GET",
        data: {},
        success: function (data) {
          self.online_classes = data.data;
          console.log(self.online_classes)
        },
      });
    },
  });
  app.mount("#app");
</script>
{% endblock custom_js %}