{% extends 'admin_template/base_template.html' %}

{% block page_title %}
View Teachers Registered Classes and Payment Informations
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View Teachers Registered Classes and Payment Informations</h3>
                    </div>
                    <!-- /.card-header -->

                    {% comment %} Display Messages {% endcomment %}
                    {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}


                    <div class="card-body">

                        <div class="form-group">

                            <label>Teacher </label>
                            <select class="form-control" name="teachers" id="teachers">
                                <option value="0"> --------------- </option>
                                {% for teacher in teachers %}
                                <option value="{{ teacher.id }}">{{ teacher.admin.first_name }}
                                    {{teacher.admin.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Start Date <span class="badge badge-primary" id="bttnToday">Today</span>
                                    </label>
                                    <input type="date" id="inputVal" class="form-control" name="start_date" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>End Date<span class="badge badge-primary" id="bttn2Today">Today</span>
                                    </label>
                                    <input type="date" id="inputVal2" class="form-control" name="end_date" />
                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" class="btn btn-success mx-1" id="fetch_data">Fetch Details</button>
                        <button type="button" class="btn btn-primary reply_open_modal" data-toggle="modal"
                            data-target="#paymentModal" id="add_payment">Add Payment</button>

                    </div>
                    
                </div>





            </div>

            <!-- /.card -->

        </div>
        
        
        <div class="row table-toggle" id="" >
            <table class="table table-toggle table-bordered" id="statements">
                
            </table>
            


            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark tables">

                    <!-- /.card-header -->


                    <div class="card-header" style="display: flex;justify-content: center;">
                        <b>Payment History</b>
                    </div>



                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr id="payment_table_heading">

                                    </tr>
                                </thead>
                                <tbody id="payment_table">

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-secondary tables">

                    <!-- /.card-header -->


                    <div class="card-header" style="display: flex;justify-content: center;">


                        <b>Class History</b>

                    </div>    


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#SL</th>
                                        <th>Class Details</th>
                                        <th>Class Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Payment</th>
                                        <th>Action</th>

                                    </tr>    
                                </thead>    


                                <tbody id="registered_class_table"></tbody>
                            </table>    
                        </div>    
                    </div>    


                </div>    
                <!-- /.card -->




            </div>    
            <!-- /.card -->



        </div>


    </div>


    </div><!-- /.container-fluid -->
</section>

{% comment %} Modal to Reply Feedback {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPaymentModal">Add Payment</h5>
                <button type="button" class="close" id="close_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Payment Upto : </p>
                <input type="date" class="form-control" id="paymentUpto" name="paymentUpto" required />
                <p>Payment Amount : </p>
                <input type="number" class="form-control" id="paymentAmount" name="paymentAmount" required />
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {%endcomment %}
                <button type="button" class="btn btn-primary btn-block" id="add_payment_button">+ Add</button>
            </div>
        </div>
    </div>
</div>


{% endblock main_content %}

{% block custom_js %}

<script>
    $("#add_payment").hide()

    function fetchData(start_date = "", end_date = "") {
        var teachers = $("#teachers").val();
        let paymentOutput = "";
        let registeredClassOutput = "";
        let payment_table_heading =
            `
            <th>#SL</th>
            <th>Paying Date</th>
            <th>Payment Of</th>
            <th>Amount</th>
            `
        $.ajax({
            url: "{% url 'teacher_payment_date_all' %}",
            type: 'POST',
            data: { teachers: teachers, start_date: start_date, end_date: end_date },
            dataType: "json",

            success: function (data) {
                monthly_payment_type = data.payment_type
                console.log(data);
                for (let i = 0; i < data.payment_data.length; i++) {
                    paymentOutput += `
                        <tr>
                        <td>${i + 1}
                        <td>${new Date(data.payment_data[i].paying_date).toDateString() + " at " + new Date(data.payment_data[i].paying_date).toLocaleTimeString()}</td>
                        <td>${new Date(data.payment_data[i].payment_upto.slice(0, 10)).toDateString()}</td>
                        <td>${data.payment_data[i].payment_amount}</td>
                        ${monthly_payment_type ? `<td><span class="${data.payment_data[i].paid ? "btn btn-success" : "btn btn-warning"}">${data.payment_data[i].paid.toString().toUpperCase()}</span></td>
                                <td><a href="/delete_teacher_payment/${data.payment_data[i].id}" class="btn btn-danger my-1">Delete</a>${data.payment_data[i].paid ? "" : `<button href="#" class="btn btn-info mx-1 my-1" onclick="pay_monthly_teacher(${data.payment_data[i].id})">Pay</button>`}</td>` : ""
                        }
                        </tr>
                    `
                }
                for (let i = 0; i < data.registered_classes_data.length; i++) {
                    registeredClassOutput += `
                        <tr>
                        <td>${i + 1}
                        <td>${"Class " + data.registered_classes_data[i].pcc_id.batch_id.class_id.class_name + " (" + "Class " + data.registered_classes_data[i].pcc_id.batch_id.batch_name + ") <br/> Subject: " + data.registered_classes_data[i].pcc_id.subject_id.subject_name}</td>
                        <td>${new Date(data.registered_classes_data[i].class_date).toDateString()}</td>
                        <td>${data.registered_classes_data[i].from_time}</td>
                        <td>${data.registered_classes_data[i].to_time}</td>
                        <td>${data.registered_classes_data[i].per_class_charge}</td>
                        ${data.registered_classes_data[i].status == 1 ?
                            "<td><button class='btn btn-warning mx-1 my-1' disabled>Approved</button><a href='/delete_registered_class/"
                            + data.registered_classes_data[i].id + "' class='btn btn-danger mx-1 my-1'>Delete<a><td>"
                            : data.registered_classes_data[i].status == 0 ?
                                "<td><a href='/teacher_class_reg_approve/" +
                                data.registered_classes_data[i].id + "' class='btn btn-success mx-1 my-1'>Approve<a><a href='/teacher_class_reg_reject/" +
                                data.registered_classes_data[i].id + "' class='btn btn-danger mx-1 my-1'>Reject<a><a href='/delete_registered_class/" +
                                data.registered_classes_data[i].id + "' class='btn btn-danger mx-1 my-1'>Delete<a></td>"
                                : "<td><button class='btn btn-warning' mx-1 my-1 disabled>Approved</button><a href='/delete_registered_class/" +
                                data.registered_classes_data[i].id + "' class='btn btn-danger mx-1 my-1'>Delete<a><td>"}
                            
                        </tr>
                    `
                }
                monthly_payment_type ? payment_table_heading += "<th>Paid</th><th>Action</th>" : ""
                monthly_payment_type ? $("#add_payment").hide() : $("#add_payment").show()
                $("#payment_table_heading").html(payment_table_heading)
                $("#registered_class_table").html(registeredClassOutput);
                $("#payment_table").html(paymentOutput);
                $("#statements").html(`
                <thead class="thead">
                    <tr class="">
                    <th scope="col" class="text-white text-center bg-info">Total: ${data.statements.total}</th>
                    <th scope="col" class="text-white text-center bg-success">Paid: ${data.statements.paid}</th>
                    <th scope="col" class="text-white text-center bg-warning">Due: ${data.statements.due}</th>
                    </tr>
                </thead>
                `)
            }
        }); // Ajax Ends Here
    }; // fetchData Function Ends Here
    function pay(id=0,teachers, paymentUpto = "", paymentAmount = 0) {
        $.ajax({
            url: "{% url 'add_teachers_payment' %}",
            type: 'POST',
            data: { teachers: teachers, paymentUpto: paymentUpto, paymentAmount: paymentAmount, payment_id: id },
        })
            .done(function (response) {
                if (response == "True") {
                    alert("Paid")
                    $("#paymentUpto").val("");
                    $("#paymentAmount").val(0);
                    $("#close_modal").trigger("click")
                    fetchData(teachers)
                }
                else {
                    alert("Check Your Credentials!")
                    $(this).removeAttr("disabled")
                }

            })
            .fail(function () {
                alert("Error in Adding Fees.Contact Your Developer!")
                location.reload()
            })
    }
    $(document).ready(function () {
        $(".table-toggle").hide()
        $("#fetch_data").hide()
        let monthly_payment_type = ""

        $(document).on("change", "#teachers", function () { 
            $(".table-toggle").hide(); 
            if($(this).val()!="0"){
                fetchData(); 
                $(".table-toggle").show() 
            }else{
                $("#add_payment").hide();
                $("#fetch_data").hide()
                
            }
        }) //Fetch Data On Changing Teacher
        $(document).on("change", "#inputVal", function () {
            $("#fetch_data").show()
        })
        $("#fetch_data").click(function () {$(".table-toggle").hide(); fetchData($("#inputVal").val(), $("#inputVal2").val()); $(".table-toggle").show(); }); // Fetch Data in selected Date Range
        $(document).on("click", "#add_payment_button", function () {
            $(this).attr("disabled", "disable")
            $(this).text("Saving Data...")
            if ($("#paymentUpto").val() == "" || $("#paymentAmount").val() == 0 || $("#paymentAmount").val() == "") {
                alert("You haven't entered all credentials!");
            }
            else {
                pay(0,$("#teachers").val(), $("#paymentUpto").val(), $("#paymentAmount").val())
            }
            $(this).removeAttr("disabled");
            $(this).text("+Add");
        })
    }); // On Ready Function Ends Here
    function pay_monthly_teacher(id) {
    if (confirm(`Are You Sure You Want To Pay ${$("#teachers option:selected").text()} ? `) == true) {
        pay(id,$("#teachers").val())
    }
    }




</script>


{% endblock custom_js %}