{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Result
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            {{totalWorkingDay}}
            {{totalPresent}}
            {{totalAbsent}}

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Result</h3>
                        </div>

                        <div class="card-body">
                            {% for exam in examinations %}
                            
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                        <thead class="thead-light">
                                            <tr>
                                                <th colspan="3" style="text-align: center;">{{ exam.exam_name }}---{{ exam.exam_date }}</th>
                                                {% for tm in totalMarks %}
                                                {% if tm.exam_id.id == exam.id %}
                                                <th colspan="2"> <span><b>Obtained Marks : </b> {{ tm.obtained_marks }} / {{ tm.total_marks }}</span> </td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>

                                        </thead>
                                        
                                    <tr>
                                        <th>#ID</th>
                                        
                                        
                                        <th>Subject</th>
                                        <th>Assignments Marks</th>
                                        <th>Exam Marks</th>
                                        <th>status</th>
                                    </tr>
                                    </thead>
                                    
                                    {% for row in student_result %}
                                        {% if row.exam_id.id == exam.id %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ row.subject_id.subject_name }}</td>
                                        <td>{{ row.subject_assignment_marks }}</td>
                                        <td>{{ row.subject_exam_marks }}</td>
                                        <td>
                                            
                                            {% if row.gpa == 5.0  %}
                                                <span class="alert alert-success">{{row.gpa}}</span>
                                            {% elif row.gpa >= 4.0 %}
                                                <span class="alert alert-primary">{{row.gpa}}</span>
                                            {% elif  row.gpa == 0 %}
                                                <span class="alert alert-danger">{{row.gpa}}</span>
                                            {% else %}
                                                <span class="alert alert-warning">{{row.gpa}}</span>
                                            {% endif %}
                                        </td>

                                    </tr>

                                        {% endif %}
                                    {% endfor %}
                                    <!-- <tr>
                                        {% for tm in totalMarks %}
                                        {% if tm.exam_id.id == exam.id %}
                                        <td colspan="2" style="text-align: center;">
                                           <b>Total Marks : </b> {{ tm.total_marks }}
                                        </td>
                                        <td colspan="3" style="text-align: center;">
                                            <b>Obtained Marks : </b> {{ tm.obtained_marks }}
                                        </td>
                                        
                                        {% endif %}
                                    {% endfor %}
                                    </tr> -->
                                    
                                    {% endfor %}
                                    <table class="table">
                                    <thead class="thead-dark">
                                       
                                        <tr>
                                            <th rowspan="2" colspan="2"> Total Marks : {{obtainedMarksVal}} / {{totalMarksVal}} </th>
                                            
                                            <th>Working Days: {{totalWorkingDay}}</th>
                                            <th>Present: {{totalPresent}}</th>
                                            <th>Absent: {{totalAbsent}}</th>
                                            
                                        </tr>
                                    </thead>
                                </table>
                                </table>
                                </div>
                                
                        </div>
                        <!-- /.card-body -->













<!-- 




                        <div class="card-body">
                            
                            
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                       
                                    <tr>
                                        <th>#ID</th>
                                        
                                        
                                        <th>Subject</th>
                                        <th>Assignments Marks</th>
                                        <th>Exam Marks</th>
                                        <th>status</th>
                                        
                                        
                                    </tr>
                                    </thead>
                                    {% for exam in examinations %}
                                    <tr class="thead-light">
                                    
                                    
                                        {% for tm in totalMarks %}
                                        {% if tm.exam_id.id == exam.id %}
                                        <th rowspan="4"><p style="color: rgb(36, 62, 85); font-size: small;">{{exam.exam_name}} <br> {{exam.exam_date}}</p> <br>  <span><b>Obtained Marks : </b> <br> {{ tm.obtained_marks }} / {{ tm.total_marks }}</span> </td>
                                        {% endif %}
                                        {% endfor %}
                                        </tr>
                                    

                                    {% for row in student_result %}
                                        {% if row.exam_id.id == exam.id %}
                                        <tr>
                                        
                                        <td>{{ row.subject_id.subject_name }}</td>
                                        <td>{{ row.subject_assignment_marks }}</td>
                                        <td>{{ row.subject_exam_marks }}</td>
                                        <td>
                                            
                                            {% if row.gpa == 5.0  %}
                                                <span class="alert alert-success">{{row.gpa}}</span>
                                            {% elif row.gpa >= 4.0 %}
                                                <span class="alert alert-primary">{{row.gpa}}</span>
                                            {% elif  row.gpa == 0 %}
                                                <span class="alert alert-danger">{{row.gpa}}</span>
                                            {% else %}
                                                <span class="alert alert-warning">{{row.gpa}}</span>
                                            {% endif %}
                                        </td>
                                        
                                    </tr>

                                        {% endif %}
                                    {% endfor %}
                                   
                                    
                                    {% endfor %}
                                    <thead class="thead-light">
                                       
                                        <tr>
                                            <th rowspan="2" colspan="2"> Total Marks : {{obtainedMarksVal}} / {{totalMarksVal}} </th>
                                            
                                            <th>Total Working Days: {{totalWorkingDay}}</th>
                                            <th>Total Present: {{totalPresent}}</th>
                                            <th>Total Absent: {{totalAbsent}}</th>
                                            
                                        </tr>
                                    </thead>
                                </table>
                                </div>
                                
                        </div>

                        -->

















                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}


{% endblock custom_js %}